.container{
    display: grid;
    justify-content: center;
    text-align: center;
}

.chart{
    display: grid;
    width: 75vw;
}

h1{
    font-family: 'Poppins';
    font-weight: 400;
}

@media screen and (min-width: 768px){
    .container{
        width: 100%;
        height: 60vh;
    }
}