.container{
    display: grid;
    justify-content: center;
    text-align: center;
}

.chart{
    display: grid;
    width: 75vw;
    height: 75vh;
}

h1{
    font-family: 'Poppins';
    font-weight: 400;
}

@media screen and (max-width: 768px){
    .chart{
        height: 50vh;
    }
}